<div class="shipping-calculator">
    <form
      v-if="canInputZip"
      @submit.prevent="submitZipCode"
      class="shipping-calculator__form"
    >
      <div class="form-group">
        <label for="shipping-calculator-zip">
          <!--{{ i19calculateShipping }}-->
          CEP Residencial
        </label>
        
        <div class="input-group">
          <cleave-input
            type="tel"
            class="form-control shipping-calculator__input"
            id="shipping-calculator-zip"
            :placeholder="i19zipCode"
            :aria-label="i19zipCode"
            :options="cleaveOptions"
            v-model="localZipCode"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="submit"
            >
              <i class="fas fa-shipping-fast"></i>
            </button>
          </div>          
        </div>
        <div id="apx-datepicker" class="mt-3">
          <label>Data para Agendamento</label>
          <div class="input-group">            
            <input 
              type="date" 
              @change="updateDataSchedule($event.target.value)"
              placeholder="Clique aqui..." 
              name="dataAgendamento" 
              class="form-control" 
              autocomplete="off"
              v-model="apx_scheduling"
            >
            
            <!-- <div class="input-group-append">
              <button type="submit" class="btn btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Calendar</title><rect fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" x="48" y="80" width="416" height="384" rx="48"/><circle cx="296" cy="232" r="24"/><circle cx="376" cy="232" r="24"/><circle cx="296" cy="312" r="24"/><circle cx="376" cy="312" r="24"/><circle cx="136" cy="312" r="24"/><circle cx="216" cy="312" r="24"/><circle cx="136" cy="392" r="24"/><circle cx="216" cy="392" r="24"/><circle cx="296" cy="392" r="24"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" stroke-linecap="round" d="M128 48v32M384 48v32"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M464 160H48"/></svg>
              </button>
            </div> -->
          </div>
          <label class="mt-3 nda">
            <input 
              type="checkbox"
              v-model="apx_DontSchedule"
              @change="updateDataScheduleSetting($event.target)"
            >
            Não desejo agendar
          </label>
        </div>
      </div>
    </form>
    <form
      v-else
      @submit.prevent="submitZipCode"
      class="shipping-calculator__form"
    >
      <div class="form-group">
        <div id="apx-datepicker" class="mt-3">
          <label>Data para Agendamento</label>
          <div class="input-group">            
            <input 
              type="date" 
              @change="updateDataSchedule($event.target.value)"
              placeholder="Clique aqui..." 
              name="dataAgendamento" 
              class="form-control" 
              autocomplete="off"
              v-model="apx_scheduling"
            >
          </div>
          <label class="mt-3 nda">
            <input 
              type="checkbox"
              v-model="apx_DontSchedule"
              @change="updateDataScheduleSetting($event.target)"
            >
            Não desejo agendar
          </label>
        </div>
      </div>
    </form>
  
    <div class="shipping-calculator__services">
      <transition-group
        enter-active-class="animated fadeInDown"
        leave-active-class="animated position-absolute fadeOutUp"
      >
        <div
          v-if="isWaiting"
          key="waiting"
          class="spinner-border spinner-border-sm"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
  
        <div
          v-else
          key="services"
          class="list-group"
          :schedule="apx_DontSchedule ? 'no' : 'yes'"
        >
          <component
            :is="canSelectServices ? 'a' : 'div'"
            :href="canSelectServices && '#'"
            class="list-group-item"
            v-for="(service, i) in shippingServices"
            :key="i"
            :class="{
              'list-group-item-action': canSelectServices,
              active: canSelectServices && selectedService === i
            }"
            @click.prevent="setSelectedService(i)"
            v-for-callback="{key: i, array: shippingServices, callback: callback}"
          >
            <span class="shipping-calculator__option">
              <slot
                name="option"
                v-bind="{ service }"
              > 
                <shipping-line
                  :service-code="service"  
                  :shipping-line="service.shipping_line"
                  :production-deadline="productionDeadline"
                  
                />
                <small>{{ service.label }}</small>
              </slot>
            </span>
          </component>
        </div>
      </transition-group>
  
      <transition
        enter-active-class="animated fadeInUp"
        leave-active-class="animated fadeOutDown"
      >
        <div
          v-if="freeFromPercentage"
          class="shipping-calculator__free-from-value"
        >
          <slot
            name="free-from-value"
            v-bind="{ amountSubtotal, freeFromValue, freeFromPercentage }"
          >
            <span>
              {{ i19add$1ToEarn.replace('$1', formatMoney(freeFromValue - amountSubtotal)) }}
              <strong>{{ i19freeShipping }}</strong>
            </span>
  
            <div
              v-if="freeFromPercentage >= 33"
              class="progress"
            >
              <div
                class="progress-bar progress-bar-striped"
                role="progressbar"
                :style="`width: ${freeFromPercentage}%`"
                :aria-valuenow="freeFromPercentage"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <span>
                  {{ i19freeShipping }}
                  <i class="fas fa-truck mx-1"></i>
                  <strong>{{ freeFromPercentage }}%</strong>
                </span>
              </div>
            </div>
          </slot>
        </div>
      </transition>
    </div>
  </div>