// Add your custom CSS here.
label[for="shipping-calculator-zip"] {
    font-size: 0;
    &::after {
        content: "Onde você quer ser atendido?";
        font-size: 1rem !important;
    }
}
@media(min-width: 767px) {
    .shipping-calculator__option .shipping-line {
      max-width: 50%
    
    }
    .shipping-calculator__option small {
      display: flex;
      justify-content: flex-end;
      max-width: 50%;
      line-height: 2
    }  
}
.fas.fa-shopping-bag {
  &::before {
    content: " ";
    background-image: url(/img/uploads/agendar-exame-branco.svg);
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: relative;
    top: 3px
  }
}

.product-card__buy button, .product__buy button span {
  font-size: 0;
  &::after {
    content: 'Comprar Exame';
    font-size: 1rem !important;
  }
}
@media(min-width: 767px) {
  .share-network-sms {
    display: none;
  }
}
.search-engine__info h3 {
  font-size: 0;
}
.search-engine__info h3::after {
  font-size: 1rem !important;
  content: 'Buscar Exame';
}
