// Add your custom CSS here.
.product-card__link .badge.badge-dark.mt-auto {
font-size: 0
}
.product-card__link .badge.badge-dark.mt-auto:after {
font-size: 1rem !important;
content: 'Sob Consulta'
}
.product__out-of-stock {
  font-size: 0
}
.product__out-of-stock:after {
  font-size: 1.5rem !important;
  content: "Sob Consulta"
}
label[for="shipping-calculator-zip"] {
    font-size: 0;
    &::after {
        content: "Onde você quer ser atendido?";
        font-size: 1rem !important;
    }
}
@media(min-width: 767px) {
    .shipping-calculator__option .shipping-line {
      max-width: 50%
    
    }
    .shipping-calculator__option small {
      display: flex;
      justify-content: flex-end;
      max-width: 50%;
      line-height: 2
    }  
}
.fas.fa-shopping-bag {
  &::before {
    content: " ";
    background-image: url(/img/uploads/agendar-exame-branco.svg);
    display: block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    position: relative;
    top: 3px
  }
}

.product-card__buy button, .product__buy button span {
  font-size: 0;
  &::after {
    content: 'Comprar Exame';
    font-size: 1rem !important;
  }
}
@media(min-width: 767px) {
  .share-network-sms {
    display: none;
  }
}
.search-engine__info h3 {
  font-size: 0;
}
.search-engine__info h3::after {
  font-size: 1rem !important;
  content: 'Buscar Exame';
}
.minicart__btn-checkout {
  font-size: 0
}
.minicart__btn-checkout:after {
  font-size: 1rem !important;
  content: "Finalizar Pagamento"
}
.checkout__steps a:nth-child(2) {
  font-size: 0px
}
.checkout__steps a:nth-child(2) small {
  font-size: .7rem !important;
}
.checkout__steps a:nth-child(2):after {
  font-size: .85rem;
  content: " Local de Coleta";
  color: grey;
  font-weight: 500
}
#order-notes::placeholder {
  opacity: 0
}
.checkout__notes label:after {
  content: " : informe abaixo, se você já utiliza algum medicamento ou tem alguma restrição";
  font-weight: 500
}


/* ALPIX */
// SCHEDULING

#apx-datepicker{}
#apx-datepicker [name="dataAgendamento"]{max-width: 195px;}
#apx-datepicker .input-group-append button{
    padding-left:11px;
    padding-right:11px
}

#apx-datepicker .input-group-append svg{
    width: 22px;
    height: 22px;
    fill:#000
}

.unidade-entrega{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px) calc(20% - 10px);
    grid-gap: 12px;
    margin-bottom:30px;
}
.unidade-entrega-titulo{
    font-size:12px;
    font-weight:600;
    display:block;
    margin-bottom:10px;
}
.unidade-entrega .list-group-item{padding:0;border:0;padding:5px}
.unidade-entrega .list-group-item strong{font-weight:normal;font-size:12px;display:block; text-align:center}
.unidade-entrega .list-group-item .shipping-calculator__option{display:block;}
.unidade-entrega .list-group-item .shipping-calculator__option small{display:none}

.nda input{
    margin: -1px 3px 0 0;
    vertical-align: middle;
}

.shipping-calculator__services [schedule="yes"] > a {display:none}

// .input-group{justify-content:left!important;}

// .checkout__account form{max-width:400px;}
.justify-content-center{justify-content:center;}